@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1120px;
  border: 1px solid #222;
  background: #f5f6f7;
  margin: 0 auto;
  padding: 0.5rem;
}

img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 50%;
  margin: 0 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_elements {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}
.nav_elements li {
  margin: 0 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

option {
  padding: 0.5rem;
}

.newProject {
  margin: 1rem 0;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 0.4rem 0;
}

.project_form input {
  padding: 0.4rem;
  border: none;
}

select {
  padding: 0.3rem;
  border-radius: 5px;
}

/* .project_form .red {
  color: red;
  font-size: 1rem;
} */
.project_form select {
  -moz-appearance: none;

  -webkit-appearance: none;
}

/* For IE10 */
.project_form select::-ms-expand {
  display: none;
}

.project_details {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
}

.project_selections {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid #222;
}
.project_criteria {
  display: flex;
  justify-content: space-between;
}
.criteria_requirement p {
  display: block;
  margin-left: 4rem;
}

.criteria_requirement {
  display: flex;
  align-items: center;
}

.project_comments {
  margin-left: 1rem;
}

ul li {
  cursor: pointer;
}

.industries {
  display: flex;
}

.industries_classification {
  margin-left: 1rem;
  margin-top: 0.78rem;
  display: flex;
  align-items: center;
  height: 3em;
}
.industries_classification p {
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border: 0.8px solid #ccc;
  border-radius: 50px;
  font-size: 0.8em;
  width: max-content;
  cursor: pointer;
}
.industries_classification p span {
  font-size: 1.5rem;
  margin-left: 1rem;
}
