@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  /* border: 1px solid #222; */
  background: #f5f6f7;
  margin: 0 auto;
  padding: 0.5rem;
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 50%;
  margin: 0 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25rem;
}

.nav_elements {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}
.nav_elements li {
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}
.nav_elements li:hover {
  transform: scale(1.1);
  color: rgb(37, 228, 228);
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

option {
  padding: 0.5rem;
}

.newProject {
  margin: 1rem 0;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 0.4rem 0;
}
.project_form {
  padding: 0.8rem 0;
  font-weight: 400;
}

.project_form label {
  font-size: 1.25rem;
}
.project_form input {
  padding: 0.4rem;
  border: none;
}

select {
  padding: 0.3rem;
  border-radius: 5px;
}

/* .project_form .red {
  color: red;
  font-size: 1rem;
} */
.project_form select {
  -moz-appearance: none;

  -webkit-appearance: none;
}

/* For IE10 */
.project_form select::-ms-expand {
  display: none;
}

.project_details {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
}

.project_selections {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid #222;
}
.project_criteria {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #ccc;
}
.criteria_requirement p {
  display: block;
  margin-left: 4rem;
}

.criteria_requirement {
  display: flex;
  align-items: center;
}

.project_comments {
  margin-left: 1rem;
}

ul li {
  cursor: pointer;
}

.industries {
  display: flex;
}

/* Industries */
.industries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.industries_subclasses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_criteria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.criteria_details {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #ccc;
  padding: 1rem;
}

.full_refull {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.industry_details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1rem;
}
.industry_induvidual {
  /* margin: 2rem 0; */
  display: flex;
}
.comments input {
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  background-color: rgb(236, 234, 234);
  outline: none;
}
.industry_induvidual {
  /* margin-left: 1rem; */
  margin-top: 0.78rem;
  margin-bottom: 0.78rem;
  display: flex;
  align-items: center;
}
.industry_induvidual p {
  text-align: center;
  margin-left: 2rem;
  padding: 0.2rem 0.5rem;
  border: 0.8px solid #ccc;
  border-radius: 50px;
  font-size: 0.8em;
  width: max-content;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.industry_induvidual p span {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.industry_induvidual div {
  display: flex;
  flex-wrap: wrap;
}

/* Project Overall */
